<div class="">
  <div class="pure-u-1-1 navbar">
    <a href="http://www.cloudlock.com"><div class="brand"></div></a>
    <a class="join-us" href="https://cloudlock-fitbit.herokuapp.com/authorize"><button class="pure-button">Join Our Team</button></a>
  </div>
  <!-- Progress Bar Directive-->
  <div isteven-omni-bar current-value="percentageValue" max-value="1">{{percentageValue | percentage}} of the way</div>

  <!-- Map Directive-->
  <leaflet class="pure-u-1-1" center="center" paths="paths" markers="markers" defaults="defaults" height="350"></leaflet>

  <canvas id="line" class="chart chart-line"  legend="true" data="graphDataSet" labels="graphLabels" series="graphSeries" height="50%"></canvas>

</div>
