<div class="">
  <div class="pure-u-1-1 navbar" id="anchor-top">
    <a href="http://www.cloudlock.com"><div class="brand"></div></a>
    <a class="join-us" href="/authorize" target="_blank"><button class="pure-button">Join Our Team</button></a>
    <a class="join-us" href="/settings"><button class="pure-button">Settings</button></a>
  </div>

  <!-- Progress Bar Directive-->
  <div isteven-omni-bar id="omnibar" current-value="percentageValue" style="maxValue{ border-radius: 0;" max-value="1">{{percentageValue | percentage}} of the way</div>

  <!-- Map Directive-->
  <leaflet class="pure-u-1-1" center="center" paths="paths" markers="markers" defaults="defaults" height="350"></leaflet>

  <canvas style="margin: 0 0 0 1em" id="line" class="chart chart-line"  legend="true" data="graphDataSet" labels="graphLabels" series="graphSeries"
options="{
        scaleShowHorizontalLines: true,
        scaleShowVerticalLines: false,
        responsive: true,
        animation: true,
        animationSteps: 60,
        animationEasing: 'linear',
        showScale: true,
}"
          colours="colors"
          ></canvas>
  <p class="center"><i>NOTE: Inactive users will not be displayed.</i></p>
</div>
<hr>

<!--
 <div class="center">

   <button class="pure-button" ng-click="displayUsers()">Compare users</button>
   <button class="pure-button" ng-click="displayGroups()">Compare groups</button>
 </div> -->
 <div class="pure-g" id="groups">
  <div class="pure-u-5-5">
  <p class="center"><i>Click on a users to add them to a group.</i></p>
    <div class="pure-menu">

      <br>
      <div ng-repeat="group in groups">
        <div class="group-container">
          <h4  ng-click="setActiveGroup(group.name); gotoAnchor('anchor-top')" >{{group.name}}</h4>
          <!--<span class="pure-menu-heading"></span> -->
          <table class="pure-table user-table pure-table-horizontal" ng-click="setActiveGroup(group.name)">
            <thead>
              <tr>
                <th>User</th>
                <th>Distance</th>
                <th>Personal %</th>
                <th>Contributing %</th>
              </tr>
            </thead>
            <tbody ng-repeat="user in group.users">
              <tr ng-click="openModal(user)">
                <td>{{user.fullName}}</td>
                <td>{{user.distance}}</td>
                <td>{{((user.distance / distanceToObjective) * 100).toFixed(2)}}</td>
                <td>{{((user.distance / group.distance) * 100).toFixed(2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
