<div id="main">
  <div class="pure-u-1-1 navbar" id="anchor-top">
    <a href="http://www.cloudlock.com"><div class="brand"></div></a>
    <a class="join-us" href="/authorize" target="_blank"><button class="pure-button">Join Our Team</button></a>
    <a class="join-us"><button class="pure-button" ng-click="reload()">Home</button></a>
  </div>

  <div class="center header">
    <h1>Settings</h1>
    <h2>Click a user to edit their profile</h2>
  </div>
  <div class="group-container">
    <table class="pure-table uer-table pure-table-horizontal" ng-click="setActiveGroup(group.name)">
      <thead>
        <tr>
          <th>User</th>
          <th>Group</th>
          <th>Display Color</th>
        </tr>
      </thead>
      <tbody ng-repeat="user in allUsers">
        <tr ng-click="openModal(user)">
          <td>{{user.fullName}}</td>
          <td>{{user.group}}</td>
          <td ng-class="(user.color? 'hex-color' : '')" class="center" style="background: {{user.color}};">{{user.color || "Color not set"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
