
html, body{
    width: 100%;
}
.navbar {
    background: #29323d;
    height: 50px;
}

.navbar .brand {
    margin: 15px 0 0 24px;
    width: 124px;
    height: 21px;
    background: url('/img/cloudlock.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
}

.navbar .join-us {
    vertical-align: super;
}


.currentValue, maxValue, containerBar, myStyleclass,  ng-isolate-scope{
    border-radius: 0;
}

#omnibar{
   border-radius: 0;
}

.maxValue {
    border-radius: 0;
}

canvas{
    width: 99% !important;
    height: 350px !important;
    margin: 0 0 5px 0 !important;
}

.center {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


#groups{
    margin: 5px 0 20px 0;
}
