
html, body{
    width: 100%;
}
.navbar {
    background: #29323d;
    height: 50px;
}

.navbar .brand {
    margin: 15px 0 0 24px;
    width: 124px;
    height: 21px;
    background: url('/img/cloudlock.svg') no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
}

.navbar .join-us {
    vertical-align: super;
}


.currentValue, maxValue, containerBar, myStyleclass,  ng-isolate-scope{
    border-radius: 0;
}

#omnibar{
   border-radius: 0;
}

.maxValue {
    border-radius: 0;
}

canvas{
    width: 99% !important;
    height: 350px !important;
    margin: 0 0 5px 0 !important;
}

.center {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


#groups{
    margin:  5px 5px 5px 5px;
    padding: 0 5px 0 5px;
}

.group-button{

}

.nav{
  background-color: #ed6b3a;
  height:40px;
  border-radius:5px 5px 0 0;
}

.settings {
  height:20px;
  float:right;
  background-image:url(http://i.imgur.com/CLs7u.png);
  width:20px;
  margin:10px;
}

.group-list{
    width: 400px;
    margin: 0 0 3em 0;
    margin-left: auto ;
    margin-right: auto ;
}

.group-list ul {
  list-style:none;
}

.group-list ul li {
  text-indent:10px;
  margin: 0;
}

.group-list ul #last {
  border-radius: 1px 0 1px 0;
}

.group-list ul li button {
  display:block;
  padding: 5px 10px;
  font-family: 'Strait', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: inset 0 1px 1px #fff;
  border-style: none;
  background: #ffffff;
  

  border-bottom: 1px solid black;
  height: 35px;
  width: 186px;
}

.group-list ul li img {
  float:left;
  margin:-2px 0 0 0;
}


.group-list ul li button:hover {
  background-color:rgba(0,0,0,0.08);
}

.group-list ul li button:active{
    border-type: none;
}
